body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  color: white;
  font-size: 48px;
  padding: 50px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 1em; */
}
.BookList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
  align-items: center;
}
.Book {
  width: 300px;
  height: 500px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;

  display: grid;
  grid:
    '.' 2fr
    '.' 1fr
    '.' 1fr
    '.' 1fr
    '.' 1fr
    / 1fr;
}
.BookName {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  padding-left: 20px;
  margin-bottom: 0;
  width: 80%;
}
.Author {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6em;
  padding-left: 20px;
  margin-top: 10px;
}
.ISBN {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4em;
  padding-left: 20px;
  margin-top: 10px;
}
#newBookBtn,
#submitBtn {
  margin-bottom: 20px;
  padding: 15px;
  /* height: 40px;
  width: 100px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.3em;
  border-radius: 10px;
}
#overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
  /* padding: 50px; */
}
.textInputs {
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  /* width: 40%; */
}

label {
  /* margin-left: 50px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.3em;
  /* width: 40%; */
}
/* #submitBtn {
  width: 40%;
} */
.newBookGridDiv {
  height: 100px;
}
.coverImage {
  margin-top: 20px;
}
.organizeElem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
}
.deleteBook {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.3em;
  height: 30px;
  width: 60px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 10px;
}
.status {
  padding: 2px;
}
