body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  color: white;
  font-size: 48px;
  padding: 50px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 1em; */
}
.BookList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
  align-items: center;
}
.Book {
  width: 300px;
  height: 450px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  display: grid;
  grid:
    '.' 2fr
    '.' 1fr
    '.' 1fr
    '.' 1fr
    '.' 1fr
    / 1fr;
}
.BookName {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  padding-left: 20px;
  margin-bottom: 0;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Author {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5em;
  padding-left: 20px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ISBN {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4em;
  padding-left: 20px;
  margin-top: 10px;
}
#newBookBtn,
#submitBtn {
  margin-bottom: 20px;
  padding: 15px;
  /* height: 40px;
  width: 100px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.3em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
#overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 80vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0);
  z-index: 2;
  cursor: pointer;

  grid-template-columns: repeat(1, 20vw);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 16px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
}
.textInputs {
  /* margin-left: 50px; */
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  /* width: 40%; */
  height: 50px;
  width: 60%;
}

label {
  /* margin-left: 50px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.3em;
  /* width: 40%; */
}
/* #submitBtn {
  width: 40%;
} */
.newBookGridDiv {
  height: 100px;
}
.coverImage {
  margin-top: 20px;
}
.organizeElem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  /* grid-gap: 16px;
  grid-auto-flow: row dense;
  justify-content: end;
  justify-items: start; */
}
.deleteBook {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.3em;
  height: 30px;
  width: 60px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 10px;
  box-shadow: 2px 2px 2px grey;
}
.status {
  padding: 2px;
  width: 20px;
}
.statusChk {
  text-decoration: underline;
}
@media screen and (max-width: 1700px) {
  .BookList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 16px;
    align-items: center;
  }
}
@media screen and (max-width: 1450px) {
  .BookList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 16px;
    align-items: center;
  }
}
@media screen and (max-width: 1090px) {
  .BookList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 16px;
    align-items: center;
  }
}
#submitBtn {
  height: 50px;
  width: 100px;
}
