body {
  background: black;
  color: white;
  font-size: 48px;
  padding: 50px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 1em; */
}
.BookList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
}
.Book {
  border: 2px solid white;
  /* width: 20vw; */
  /* height: 30vh; */
  border-radius: 10px;
}
.BookName {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding-left: 20px;
  margin-bottom: 0;
}
.Author {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  padding-left: 20px;
  margin-top: 10px;
}
.ISBN {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4em;
  padding-left: 20px;
  margin-top: 10px;
}
